streamlit
langchain==0.3.25
langchain-community==0.3.24
langchain-core==0.3.65
langchain-chroma==0.2.4
langchain-huggingface==0.1.2
langchain-groq==0.3.2
langchain-text-splitters==0.3.8
chromadb==0.6.3
pymupdf==1.25.5
pymupdf4llm
sentence-transformers==2.7.0
transformers==4.40.0
duckduckgo-search
ddgs
yfinance
plotly
numpy==1.26.4
pillow
torch==2.2.2
torchvision==0.17.2
protobuf==4.25.3