streamlit
langchain
langchain-community
langchain-core
langchain-chroma
langchain-huggingface
langchain-groq
chromadb==0.4.24
sentence-transformers
pymupdf
yfinance
plotly
numpy
duckduckgo-search
pillow
protobuf==3.20.3