langchain==0.3.25
langchain-community==0.3.24
langchain-openai==0.2.14
langchain-core==0.3.65
langchain-chroma==0.2.4
langchain-text-splitters==0.3.8
langchain-huggingface==0.1.2
langchain-groq==0.3.2
chromadb==0.6.3
pymupdf==1.25.5
pymupdf4llm==0.0.17
streamlit==1.45.1
sentence-transformers==2.7.0
transformers==4.40.0
duckduckgo-search
yfinance
plotly
numpy==1.26.4
torch==2.2.2
ddgs
pillow